@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


/* Font Family */
@theme{
    --font-inter: 'Inter', sans-serif;
    --font-nunito: 'Nunito', sans-serif;
    --font-roboto: 'Roboto', sans-serif;

    /* colors */
    --color-red: #F03328;
    --color-text: #666666;
    --color-yellow: #FFCC00;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-heading: #231900;
    --color-green: #195A00;
}